
body   {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

html {
  overflow-y: auto;
  background-color: transparent;
}


::-webkit-scrollbar {
    width: 14px;
    background-color: transparent;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}
::-webkit-scrollbar-track-piece{
  background-color: transparent;
}
 
::-webkit-scrollbar-thumb {
    background-color: #555555;
}


#wrapper {
  padding-left: 220px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -220px;
  left: 220px;
  width: 220px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  font-family: 'Nunito', sans-serif;
}

#page-content-wrapper {
  width: 100%;
}

.active {
  background: rgba(255,255,255,0.1);
}

.sidebar-list {
  list-style: none;
  margin: 0;
  margin-right: 30px;
  padding: 0;
  left: -20px;
}

.sidebar-list li{
  margin-top: 10px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  text-indent: 0px;
  text-transform: lowercase;
  margin-top: 20px;
  padding-left: 10px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
  margin-top: 0
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  /*height: 65px;*/
  line-height: 65px;
  text-transform: lowercase;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
  font-family: "helvetica neue", sans-serif;
}

.inset {
  padding: 20px;
  padding-right: 100px;
  font-family: "helvetica neue", sans-serif;
}
.inset2 {
  padding: 20px;
}

.inset h4 {
  font-family: "helvetica neue", sans-serif;
}

.inset h3 {
  font-family: "helvetica neue", sans-serif;
}

.inset h5 {
  font-family: "helvetica neue", sans-serif;
}

#menu-toggle {
  display: none;
}

.right-caret {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #000000;
    border-right: 4px solid transparent;
    display: inline-block;
    height: 0;
    opacity: 0.8;
    width: 0;
    vertical-align: 10%;
}

.right-caret.flip {
    border-right: 4px solid #000000;
    border-left: 4px solid transparent;
}

h1, h2, h3, h4{
  text-transform: lowercase;
}

@media (max-width:767px) {

  #wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  #sidebar-wrapper {
    left: 0;
    text-transform: lowercase;
  }

  #wrapper.active {
    position: relative;
    left: 220px;
  }

  #wrapper.active #sidebar-wrapper {
    left: 220px;
    width: 220px;
    transition: all 0.4s ease 0s;
  }

  #menu-toggle {
    display: inline-block;
  }

  .inset {
    padding: 15px;
  }

}
