<!DOCTYPE html>
<html>
    
    {% include head.html %}

    <body onload="Background.start()">

      <div id="wrapper">

          {% include sidebar.html %}

          <!-- Page content -->
          <div id="page-content-wrapper">
            <div class="content-header">
                <h1>
                    <a id="menu-toggle" href="#"><span class="right-caret"></span></a> 
                    {{ page.title }}
                </h1>
            </div>
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                {{ content }}
            </div>
          </div>

      </div>

      {% include js.html %}

    </body>
</html>
