<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <!-- <meta name="description" content=""> -->
        <!-- <meta name="author" content=""> -->
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link href="/css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body>

      <div id="wrapper">

          {% include sidebar.html %}

          <!-- Page content -->
          <div id="page-content-wrapper">
            <div class="content-header">
                <h1>
                    <a id="menu-toggle" href="#"><span class="right-caret"></span></a> 
                    {{ page.title }}
                </h1>
            </div>
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                {{ content }}
            </div>
          </div>

      </div>

      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <!-- Custom JavaScript for the Menu Toggle -->
      <script>
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("active");
          $(".right-caret").toggleClass("flip");
      });
      </script>

    </body>
</html>
